실습8_자료자동배포.json
{
  "name": "실습8_자료자동배포",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1f01417f-9b38-4d4b-984f-b714bbeaa5c6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1C9Y03RalHhxlCqEe3eIC1bdNSraY2VCf2DCr-c10TbY",
          "mode": "list",
          "cachedResultName": "수업일정",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9Y03RalHhxlCqEe3eIC1bdNSraY2VCf2DCr-c10TbY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9Y03RalHhxlCqEe3eIC1bdNSraY2VCf2DCr-c10TbY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "34f14534-4bce-4403-90ad-219ce9d8738e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b385cfOeWCOZ60XE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a278f77-abc5-481d-ab5f-6ed0b4f7b93f",
              "leftValue": "={{ $json['수업날짜'] }}",
              "rightValue": "={{ $now.plus(1, 'day').format('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "5ed63313-d7eb-45b0-b0b7-ab46d2539839",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1QDbghUk4xy5Lj6IBi5HhQJtPOXWPZZo4' in parents",
        "filter": {
          "folderId": {
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink",
            "exportLinks"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        -96
      ],
      "id": "af5dc33e-7169-4ec1-8963-650d1a84929a",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C7ASMlRcZXcP5gYB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jikim@imguru.co.kr",
        "subject": "=[{{ $('Get row(s) in sheet').item.json['과정명'] }}] 내일 수업 자료를 보내드립니다 📚",
        "message": "=<h2>홍길동님, 내일 수업 자료입니다!</h2> <p>내일 <strong>{{ $('Get row(s) in sheet').item.json['과정명'] }}</strong> 수업에서 사용할 자료를 보내드립니다.</p> <p>📎 아래 링크에서 다운로드해주세요:</p> <ul>   <li><a href=\"{{ $json.webViewLink }}\"></a></li> </ul> <p>수업 전에 미리 확인해주{{ $json.name }}시면 좋습니다. 감사합니다!</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        -96
      ],
      "id": "f673d5c2-c614-4199-bdc3-e4f89980e845",
      "name": "Send a message",
      "webhookId": "86d1b831-729c-4fe1-9cfb-bf006a26ff8b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Zd810Tj1LyTOXE74",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "463c8bfb-e916-4f47-98ea-a9b053b6281e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1da1c98d9a28d707a677c758310dc32b76449574e8427da5ba6764c4435cf41e"
  },
  "id": "VcvIqMqSM9o5vXq7",
  "tags": []
}